@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');

:root{
    --primary-color: rgba(32,40,63,0.9);
    --contentfont-color:#ABABAB;
    --headingfont-color:#fff;
    --blue-color:#6666FF;
    --heading-fontfamily: 'Fira Sans', sans-serif;
    --content-fontfamily:'Roboto', sans-serif;
    --secondarycontentfont-color:#5E5E5E;
}
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    line-height: 1.8; 
    position: relative !important ;
    font-family: var(--content-fontfamily);
}

.aboutme div h3,.skills h3,.portfolio h3,.getintouch h3 {
    font-family:var(--headingfont-family);
    color:#404040;
    text-align: center !important;
    text-transform: uppercase;
    font-size: 2rem;
    color:262626;
    padding-bottom:2rem;
}

.container-fluid{
    overflow: hidden;
}
/* Navigation */

 .navbar {
    background-color: #20283F !important;
    
}
button.navbar-toggler{
    width:3rem;
    text-align: center;
    padding:0.25rem;
    
}
span .navbar-toggler-icon{
    text-align: center! important;
    color:#ABABAB;
    
}
.navbar-light .navbar-toggler{
    border-color:  #ABABAB;

}
.navbar .logo{
    margin-left:60px;
    width:60px !important;
    height:60px !important;
    background-color:#F4F5F3;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index:1;
}

.logoimage{
    width:50px !important;
    height:50px !important;
    padding-left:10px;
    border-radius: 65%;
    
}
.nav-item{
    padding:0 5rem 0 0;
    font-family: 'Fira Sans', sans-serif;
}
.nav-link{
    position:relative;
    padding:0;
    margin:0;
}
.collapse ul li a{
    color:#ABABAB !important;
    font-size: 1.2rem;
}
a.nav-link:hover{
    color:#fff !important;
}
a.nav-link::before {
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:4px;
    background-color: var(--blue-color);
    transition: transform 500ms ease-in-out;
    transform: scaleX(0);
}
a.nav-link:hover::before,
a.nav-link:focus::before{
    transform: scaleX(1);
}

/* cursor */
.txt-type .txt{
    border-right: 0.2rem solid #cccccc;
    text-shadow: 1px 1px 10px #000;
}
/* Showcase */

.showcase{
    background-color: var(--primary-color);
    height:90vh;
    position:relative;
}
.showcase:before{
    content:"";
    background:url("../images/showcase2.jpg") no-repeat center center/cover;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.showcase .showcase-inner{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top:8rem;
    overflow: hidden;
}
.showcase h1{
    font-family:var(--headingfont-family);
    color:var(--headingfont-color);
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    padding-bottom:3rem;
}
.showcase p{
    color:#CCCCCC;
    font-family: var(--content-fontfamily);
    font-size: 3rem;
    text-shadow: 1px 1px 10px #000;
   
}
.showcaseSpan{
    display: inline-block;
}

/* --------About Me---------- */

.aboutme{
    padding-top:7rem;
    text-align: center !important;
}

.aboutme h3{
    padding-bottom: 1rem !important;
}

.about .intro{
    color:#5E5E5E;
    font-family:var(--content-fontfamily);
    font-size: 1.6rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    
}
.description{ 
    color:#5E5E5E;
    font-family:var(--content-fontfamily);
    font-size: 1.1rem;
}

/* --------Skills---------- */

.skills{
    padding-top:2rem;
}

.skills h3{
    padding-bottom:1rem;
}
.progress{
    height:7px;
    width:85%;
 
}
.progress-bar{
    background-color: var(--blue-color);
    height:7px;

}
div .progressbardiv{
    padding:1rem 0 1.5rem 0 !important;
    color:var(--secondarycontentfont-color);
    font-weight: bold;
    font-size:1.6rem;
}

div .progressbardiv h6{
    font-size: 1.1;
}

/* --------Portfolio---------- */

.portfolio{
    text-align: center !important;
    padding-top:8rem;
   
}
.portfolio .description{
    color:#5E5E5E;
    font-family:var(--content-fontfamily);
    font-size: 1.1rem;
    margin-bottom:-3rem;
}
.view{
    position: relative;
    width:400px;
    height:300px;
    text-align: center !important;
    margin-right: 2rem;
}
.portfolio .row{
    margin:0 0 6rem 0;
}
.portfolioImages img{
    display: flex;
    width:100%;
    height:100%;
    border:40px solid #ABABAB;
    z-index: 2!important;

}
.mask{
    position: absolute;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    background-image: linear-gradient(#20283F,#ABABAB);

}
.view:hover .mask{
    opacity: 1;
}
.content a{
    text-decoration: none;
    color:#e6e6e6 !important;
}
.mask .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mask-left{
    height:100%;
    width:0;
    top:0;
    left:0;
    
}
.view:hover .mask-left{
    width:100%;
}
.content{
    cursor: pointer;  
}
.content h5{
    font-size: 1.8rem;

}
.content p{
    font-size: 1.1rem;

}
.title {
    background-color:#535966;
    height:60px;
    border-top:1px solid #fff;
    text-align: center;
}
.title h5{
    padding-top:15px;
    color:#e6e6e6 !important;
    font-weight: 200;
}

/* --------Get in Touch---------- */

.getintouch {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top:6rem;
    color:var(--secondarycontentfont-color);
    height:69vh;
    /* background-image: linear-gradient(,#282C3F); */
    background-color:rgba(32,40,63);
    margin-top:6rem;
}
.getintouch h3{
    padding-bottom:2.5rem;
    color:#d9d9d9;
}

.getintouch p{
    font-size:1.2rem;
    color: #d9d9d9;
    padding-bottom: 2rem;
    font-weight: 300;
}
.getintouch p:nth-of-type(2){
    font-size: 1.6rem;
    text-decoration: underline;
}

footer{
    height:13vh;
    background-color:rgba(32,40,63);
    color: #d9d9d9;
    text-align: center;
    font-size:1.2rem;
    font-weight: 300;
    padding-top:1rem;
    padding-bottom:1rem;
}
hr{
    margin:0;
}

@media(max-width:610px){
    .showcase-inner h1{
        font-size:3rem;
        padding-bottom:3rem;
    }
    .showcase .showcase-inner{
        padding-top:10rem;

    }
    .showcaseSpan p{
        font-size:2.5rem;
        font-weight: lighter;
       
    }
    .aboutme,.portfolio,.getintouch{
        padding-top:3rem;
    }
    .aboutme div h3,.skills h3,.portfolio h3,.getintouch h3 {
        font-size:1.8rem;
    }
    .subabout .intro{
        font-size:1.4rem;
    }
    p .description{
        font-size: 0.1rem !important;
    }
    div .progressbardiv{
        margin-left:4rem;
    }
    .progress{
        height:7px;
        width:70%;
    }
    .portfolioImages{
        text-align: center;
        margin-left:2rem;
    }
    .portfolio{
        display:flex;
        flex-direction: column;
    }
    .bottom{
        margin-top:6rem;
    }
    .showcase{
        height:90vh;
    }
    .view{
    width:300px;
    height:250px;
    }



    .getintouch{
        padding-top:4rem;
    }
    .contact{
        margin-top:-4rem;
    }
}
